<nav class="navbar navbar-expand-lg shadow">
  <div class="container">
    <a class="navbar-brand text-light fw-bold" routerLink="/">MVP</a>
    <button
      mat-mini-fab
      class="navbar-toggler"
      color="primary"
      (click)="onToggleMenu()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      [class.collapse]="collapsed"
      (window:resize)="collapsed = true"
    >
      <ul
        class="navbar-nav d-flex justify-content-between"
        @fade
      >
        <li class="nav-item">
          <a
            class="nav-link active text-light"
            aria-current="page"
            routerLink="/"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/items">Items</a>
        </li>

        <div class="py-1">
          <button
            mat-mini-fab
            color="basic"
            class="me-2"
            matBadge="15"
            matBadgeColor="primary"
            matBadgePosition="after"
          >
            <mat-icon>shopping_cart</mat-icon>
          </button>
          <button
            mat-mini-fab
            color="accent"
            class="ms-1"
            matBadge="1"
            matBadgeColor="primary"
            matBadgePosition="after"
          >
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
      </ul>
    </div>
  </div>
</nav>
